<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="logStorage" value="D:\\LogStorage\\" />
    <add key="dateFormat" value="yyyyMMdd" />
    <add key="cultureInfo" value="en-US" />
    <add key="driveInfo" value="D" />
    <add key="spaceRequired" value="250000000.0" />
    <add key="retryLimit" value="3" />
    <add key="logExtension" value=".csv" />
    <add key="testClass" value="TestClass"/>
    <add key="testMethod" value="TestMethod"/>
    <add key="testUser" value="TestUser"/>
    <add key="testSession" value="TestSession"/>
    <add key="testText" value="Testing..."/>
    
  </appSettings>
</configuration>