<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=" .NETFramwork, Version = v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Net.Http.Headers" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.8.0" newVersion="2.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="email" value="roomaidnotifications@gmail.com" />
    <add key="userName" value="RoomAidNotifications@DoNotRespond" />
    <add key="logStorage" value="D:\\LogStorage\\" />
    <add key="archiveStorage" value="D:\\ArchiveStorage\\" />
    <add key="logLife" value="30" />
    <add key="dateFormat" value="yyyyMMdd" />
    <add key="cultureInfo" value="en-US" />
    <add key="driveInfo" value="D" />
    <add key="spaceRequired" value="250000000.0" />
    <add key="sevenZipPath" value="C:\7-Zip\7z.exe" />
    <add key="retryLimit" value="3" />
    <add key="logExtension" value=".csv" />
    <add key="archiveExtension" value=".7z" />
    <add key="windowsArchiveExtension" value=".zip" />
    <add key="sevenZipCommandLine" value=" a -t7z " />
    <add key="sevenZipNotFound" value="Archive Start Failure: Cannot found 7z.exe for archiving" />
    <add key="logStorageNotFound" value="Archive Start Failure: Cannot find log storage directory" />
    <add key="noLogToArchive" value="Archive Start Failure: No files are required to be archived" />
    <add key="outPutFail" value="Archive Failure: One or multiple files cannot be compressed/deleted\n" />
    <add key="spaceNotEnough" value="Archive Start Failure: Insufficient space for archiving." />
    <add key="notificationCompress" value="Compress Failed: One or multiple files could not be added into the compressed file:\nFile Path: " />
    <add key="notificationDelete" value="Deletion Failed: One or multiple files could not be deleted:\nFile Path: " />
    <add key="nameLength" value="200" />
    <add key="passwordLength" value="2000" />
    <add key="passwordMinLength" value="12" />
    <add key="emailLength" value="200" />
    <add key="emailLength" value="200" />
    <add key="passwordListName" value="passwordCheckList.txt" />
    <add key="repetitiveRange" value="4" />
    <add key="messageNameEmpty" value="Your name cannot be empty!" />
    <add key="messagePass" value="Check Pass!" />
    <add key="passwordRepetitive" value="Password contains repetitive contents: " />
    <add key="passwordSequential" value="Password contains sequential contents: " />
    <add key="passwordCommon" value="Your password contains common used  content: " />
    <add key="passwordUserName" value="Your password cannot contain ur username!" />
    <add key="ageNotPass" value="You must be older than 18 to use this app!" />
    <add key="ageRequired" value="18" />
    <add key="passwordNotMatch" value="Reentered password is not matched!" />
    <add key="success" value="Success!" />
    <add key="secret_key" value="F1jn2MM28eqsfWETT23jf0qfdasj0HJAWP23rmasWASLDAldqRWEGF34832ur23" />
    <add key="sessiontimeout" value="1200.0" />
    <add key="userExist" value="This user already exists!" />
    <add key="retryLimit" value="3" />
    <add key="updateCmd" value="UPDATE dbo.Users SET FirstName = @fName, LastName = @lName, DateOfBirth = @dob, Gender = @gender, AccountStatus = @status WHERE UserEmail = @email" />
    <add key="queryCreateAccount" value="INSERT INTO dbo.Accounts (UserEmail, HashPassword, Salt) VALUES (@email, @hashedPw, @salt)" />
    <add key="queryCreateMapping" value="INSERT INTO dbo.Mapping (UserEmail) VALUES (@email)" />
    <add key="querySelectMapping" value="SELECT SysID FROM dbo.Mapping WHERE UserEmail = @email" />
    <add key="queryCreateUser" value="INSERT INTO dbo.Users (SysID, UserEmail, AccountStatus) VALUES (@sysId, @email, @status)" />
    <add key="successMessage" value="All targeted rows have been updated successfully!" />
    <add key="failureMessage" value="Not all targeted rows have been updated, please review which rows were attempted at updates" />
    <add key="queryDeleteAccount" value="DELETE FROM dbo.Accounts WHERE UserEmail = @email" />
    <add key="queryDeleteMapping" value="DELETE FROM dbo.Mapping WHERE SysID = @sysID" />
    <add key="queryDeleteSystem" value="DELETE FROM dbo.Users WHERE SysID = @sysID" />
    <add key="tableNamePermissions" value="Authorizations" />
    <add key="CreateAccountSuccess" value="All new Accounts are created successfully!" />
    <add key="CreateAccountFailure" value="Failed to create accounts: " />
    <add key="DeleteAccountSuccess" value="All accounts have been deleted successfully!" />
    <add key="DeleteAccountFailure" value="Failed to delete accounts: " />
    <add key="queryCreateHouseHold" value="INSERT INTO dbo.HouseHolds (Rent, StreetAddress, ZipCode, IsAvailable) output INSERTED.HID VALUES (@rent, @streetAddress, @zipCode, @isAvailable)" />
    <add key="querySelectHouseHold" value="SELECT COUNT(*) FROM dbo.HouseHolds WHERE StreetAddress = @streetAddress AND ZipCode = @zipCode" />
    <add key="queryDeleteHouseHold" value="DELETE FROM dbo.HouseHolds WHERE HID = @hid" />
    <add key="querySelectZip" value="SELECT COUNT(*) FROM dbo.ZipLocations WHERE ZipCode = @zipCode" />
    <add key="querySelectHID" value="SELECT COUNT(*) FROM dbo.HouseHolds WHERE HID = @hid" />
    <add key="querySelectEmail" value="SELECT COUNT(*) FROM dbo.Users WHERE UserEmail = @email" />
    <add key="queryCreateHouseHoldListing" value="INSERT INTO dbo.HouseHoldListings (HID, Price) VALUES (@hId, @price)" />
    <add key="queryDeleteHouseHoldListing" value="DELETE FROM dbo.HouseHoldListings WHERE HID = @hid" />
    <add key="querySelectMapping" value="SELECT SysID FROM dbo.Mapping WHERE UserEmail = @email" />
    <add key="querySelectMessage" value="SELECT PrevMessageID, SenderID, SentDate FROM dbo.InboxMessages WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectGeneralMessageBody" value="SELECT MessageBody FROM dbo.GeneralMessages WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectInvitationResponse" value="SELECT IsAccepted FROM dbo.Invitations WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectInbox" value="SELECT MessageID, IsRead, SentDate, SenderID FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general" />
    <add key="querySelectUserName" value="SELECT FirstName, LastName FROM dbo.Users WHERE SysID = @sendid" />
    <add key="queryCreateMessage" value="INSERT INTO dbo.InboxMessages (SysID, PrevMessageID, SenderID, IsRead, SentDate, IsGeneral) VALUES (@rcvid, @prevmsgid, @sendid, @read, @date, @general)" />
    <add key="queryCreateGeneralMessage" value="INSERT INTO dbo.GeneralMessages (SysID, MessageID, MessageBody) VALUES (@rcvid, @msgid, @msgbody)" />
    <add key="queryCreateInvitation" value="INSERT INTO dbo.Invitations (SysID, MessageID, IsAccepted) VALUES (@rcvid, @msgid, @accepted)" />
    <add key="queryGetMessageID" value="SELECT MessageID FROM dbo.InboxMessages WHERE SysID = @rcvid AND SenderID = @sendid AND SentDate = @date AND IsGeneral = @general" />
    <add key="queryGetCount" value="SELECT COUNT(MessageID) FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general" />
</appSettings>
</configuration>