<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku =" .NETFramwork, Version = v4.7.2"/>
  </startup>
  <appSettings>
    <add key= "updateCmd" value ="UPDATE dbo.Users SET FirstName = @fName, LastName = @lName, DateOfBirth = @dob, Gender = @gender, AccountStatus = @status WHERE UserEmail = @email"/>
    <add key ="querySelectMapping" value ="SELECT SysID FROM dbo.Mapping WHERE UserEmail = @email"/>
    <add key ="querySelectMessage" value ="SELECT PrevMessageID, SenderID, SentDate FROM dbo.InboxMessages WHERE SysID = @rcvid AND MessageID = @msgid"/>
    <add key ="querySelectGeneralMessageBody" value ="SELECT MessageBody FROM dbo.GeneralMessages WHERE SysID = @rcvid AND MessageID = @msgid"/>
    <add key ="querySelectInvitationResponse" value ="SELECT IsAccepted FROM dbo.Invitations WHERE SysID = @rcvid AND MessageID = @msgid"/>
    <add key ="querySelectInbox" value="SELECT MessageID, IsRead, SentDate, SenderID FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general"/>
    <add key ="querySelectUserName" value="SELECT FirstName, LastName FROM dbo.Users WHERE SysID = @sendid"/>
    <add key ="queryCreateMessage" value ="INSERT INTO dbo.InboxMessages (SysID, PrevMessageID, SenderID, IsRead, SentDate, IsGeneral) VALUES (@rcvid, @prevmsgid, @sendid, @read, @date, @general)" />
    <add key ="queryCreateGeneralMessage" value ="INSERT INTO dbo.GeneralMessages (SysID, MessageID, MessageBody) VALUES (@rcvid, @msgid, @msgbody)" />
    <add key ="queryCreateInvitation" value ="INSERT INTO dbo.Invitations (SysID, MessageID, IsAccepted) VALUES (@rcvid, @msgid, @accepted)" />
    <add key ="queryGetMessageID" value ="SELECT MessageID FROM dbo.InboxMessages WHERE SysID = @rcvid AND SenderID = @sendid AND SentDate = @date AND IsGeneral = @general" />
    <add key ="queryGetCount" value="SELECT COUNT(MessageID) FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general"/>
  </appSettings>
</configuration>
