<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=" .NETFramwork, Version = v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="email" value="roomaidnotifications@gmail.com" />
    <add key="userName" value="RoomAidNotifications@DoNotRespond" />
    <add key="logStorage" value="D:\\LogStorage\\" />
    <add key="archiveStorage" value="D:\\ArchiveStorage\\" />
    <add key="logLife" value="30" />
    <add key="dateFormat" value="yyyyMMdd" />
    <add key="cultureInfo" value="en-US" />
    <add key="driveInfo" value="D" />
    <add key="spaceRequired" value="250000000.0" />
    <add key="sevenZipPath" value="C:\7-Zip\7z.exe" />
    <add key="retryLimit" value="3" />
    <add key="logExtension" value=".csv" />
    <add key="archiveExtension" value=".7z" />
    <add key="sevenZipCommandLine" value=" a -t7z " />
    <add key="sevenZipNotFound" value="Archive Start Failure: Cannot found 7z.exe for archiving" />
    <add key="logStorageNotFound" value="Archive Start Failure: Cannot find log storage directory" />
    <add key="noLogToArchive" value="Archive Start Failure: No files are required to be archived" />
    <add key="outPutFail" value="Archive Failure: One or multiple files cannot be compressed/deleted\n" />
    <add key="spaceNotEnough" value="Archive Start Failure: Insufficient space for archiving." />
    <add key="notificationCompress" value="Compress Failed: One or multiple files could not be added into the compressed file:\nFile Path: " />
    <add key="notificationDelete" value="Deletion Failed: One or multiple files could not be deleted:\nFile Path: " />
    <add key="nameLength" value="200" />
    <add key="passwordLength" value="2000" />
    <add key="passwordMinLength" value="12" />
    <add key="emailLength" value="200" />
    <add key="emailLength" value="200" />
    <add key="passwordListName" value="passwordCheckList.txt" />
    <add key="repetitiveRange" value="4" />
    <add key="messageNameEmpty" value="Your name cannot be empty!" />
    <add key="messagePass" value="Check Pass!" />
    <add key="passwordRepetitive" value="Password contains repetitive contents: " />
    <add key="passwordSequential" value="Password contains sequential contents: " />
    <add key="passwordCommon" value="Your password contains common used  content: " />
    <add key="passwordUserName" value="Your password cannot contain ur username!" />
    <add key="ageNotPass" value="You must be older than 18 to use this app!" />
    <add key="ageRequired" value="18" />
    <add key="passwordNotMatch" value="Reentered password is not matched!" />
    <add key="success" value="Success!" />
    <add key="secret_key" value="F1jn2MM28eqsfWETT23jf0qfdasj0HJAWP23rmasWASLDAldqRWEGF34832ur23" />
    <add key="sessiontimeout" value="1200.0" />
    <add key="sqlConnectionAccount" value="Data Source=LAPTOP-BLNANITI;Initial Catalog=testaccountdb;User ID=dbtester;Password=Adjjmp491" />
    <add key="sqlConnectionSystem" value="Data Source=LAPTOP-BLNANITI;Initial Catalog=testsystemdb;User ID=dbtester;Password=Adjjmp491" />
    <add key="sqlConnectionMapping" value="Data Source=LAPTOP-BLNANITI;Initial Catalog=testmappingdb;User ID=dbtester;Password=Adjjmp491" />
    <add key="querySelectMapping" value="SELECT SysID FROM dbo.Mapping WHERE UserEmail = @email" />
    <add key="querySelectMessage" value="SELECT PrevMessageID, SenderID, SentDate FROM dbo.InboxMessages WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectGeneralMessageBody" value="SELECT MessageBody FROM dbo.GeneralMessages WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectInvitationResponse" value="SELECT IsAccepted FROM dbo.Invitations WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectInbox" value="SELECT MessageID, IsRead, SentDate, SenderID FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general" />
    <add key="querySelectUserName" value="SELECT FirstName, LastName FROM dbo.Users WHERE SysID = @sendid" />
    <add key="queryCreateMessage" value="INSERT INTO dbo.InboxMessages (SysID, PrevMessageID, SenderID, IsRead, SentDate, IsGeneral) VALUES (@rcvid, @prevmsgid, @sendid, @read, @date, @general)" />
    <add key="queryCreateGeneralMessage" value="INSERT INTO dbo.GeneralMessages (SysID, MessageID, MessageBody) VALUES (@rcvid, @msgid, @msgbody)" />
    <add key="queryCreateInvitation" value="INSERT INTO dbo.Invitations (SysID, MessageID, IsAccepted) VALUES (@rcvid, @msgid, @accepted)" />
    <add key="queryGetMessageID" value="SELECT MessageID FROM dbo.InboxMessages WHERE SysID = @rcvid AND SenderID = @sendid AND SentDate = @date AND IsGeneral = @general" />
    <add key="queryGetCount" value="SELECT COUNT(MessageID) FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general" />
    <add key="querySelectEmail" value="SELECT COUNT(*) FROM dbo.Users WHERE UserEmail = @email" />
  </appSettings>
</configuration>