<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-RoomAid.SPA-20200504073947.mdf;Initial Catalog=aspnet-RoomAid.SPA-20200504073947;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="MessageContext" connectionString="metadata=res://*/Models.MessageModel.csdl|res://*/Models.MessageModel.ssdl|res://*/Models.MessageModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=testsystemdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="searchSQL" value=""/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="queryCreateMessage" value="INSERT INTO dbo.InboxMessages (SysID, PrevMessageID, SenderID, IsRead, SentDate, IsGeneral) VALUES (@rcvid, @prevmsgid, @sendid, @read, @date, @general)" />
    <add key="queryCreateGeneralMessage" value="INSERT INTO dbo.GeneralMessages (SysID, MessageID, MessageBody) VALUES (@rcvid, @msgid, @msgbody)" />
    <add key="queryCreateInvitation" value="INSERT INTO dbo.Invitations (SysID, MessageID, IsAccepted) VALUES (@rcvid, @msgid, @accepted)" />
    <add key="querySelectMapping" value="SELECT SysID FROM dbo.Mapping WHERE UserEmail = @email" />
    <add key="querySelectMessage" value="SELECT PrevMessageID, SenderID, SentDate FROM dbo.InboxMessages WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectGeneralMessageBody" value="SELECT MessageBody FROM dbo.GeneralMessages WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectInvitationResponse" value="SELECT IsAccepted FROM dbo.Invitations WHERE SysID = @rcvid AND MessageID = @msgid" />
    <add key="querySelectInbox" value="SELECT MessageID, IsRead, SentDate, SenderID FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general" />
    <add key="querySelectUserName" value="SELECT FirstName, LastName FROM dbo.Users WHERE SysID = @sendid" />
    <add key="queryGetMessageID" value="SELECT MessageID FROM dbo.InboxMessages WHERE SysID = @rcvid AND SenderID = @sendid AND SentDate = @date AND IsGeneral = @general" />
    <add key="queryGetCount" value="SELECT COUNT(MessageID) FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general" />
    <add key="secret_key" value="F1jn2MM28eqsfWETT23jf0qfdasj0HJAWP23rmasWASLDAldqRWEGF34832ur23" />
    <add key="sessiontimeout" value="1200" />
    <add key="userExist" value="This user already exists!" />
    <add key="retryLimit" value="3" />
    <add key="updateCmd" value="UPDATE dbo.Users SET FirstName = @fName, LastName = @lName, DateOfBirth = @dob, Gender = @gender, AccountStatus = @status WHERE UserEmail = @email" />
    <add key="queryCreateAccount" value="INSERT INTO dbo.Accounts (UserEmail, HashPassword, Salt) VALUES (@email, @hashedPw, @salt)" />
    <add key="queryCreateMapping" value="INSERT INTO dbo.Mapping (UserEmail) VALUES (@email)" />
    <add key="querySelectMapping" value="SELECT SysID FROM dbo.Mapping WHERE UserEmail = @email" />
    <add key="queryCreateUser" value="INSERT INTO dbo.Users (SysID, UserEmail, AccountStatus) VALUES (@sysId, @email, @status)" />
    <add key="successMessage" value="All targeted rows have been updated successfully!" />
    <add key="failureMessage" value="Not all targeted rows have been updated, please review which rows were attempted at updates" />
    <add key="queryDeleteAccount" value="DELETE FROM dbo.Accounts WHERE UserEmail = @email" />
    <add key="queryDeleteMapping" value="DELETE FROM dbo.Mapping WHERE SysID = @sysID" />
    <add key="queryDeleteSystem" value="DELETE FROM dbo.Users WHERE SysID = @sysID" />
    <add key="tableNamePermissions" value="Authorizations" />
    <add key="CreateAccountSuccess" value="All new Accounts are created successfully!" />
    <add key="CreateAccountFailure" value="Failed to create accounts: " />
    <add key="DeleteAccountSuccess" value="All accounts have been deleted successfully!" />
    <add key="DeleteAccountFailure" value="Failed to delete accounts: " />
    <add key="queryCreateHouseHold" value="INSERT INTO dbo.HouseHolds (Rent, StreetAddress, ZipCode, IsAvailable) output INSERTED.HID VALUES (@rent, @streetAddress, @zipCode, @isAvailable)" />
    <add key="querySelectHouseHold" value="SELECT COUNT(*) FROM dbo.HouseHolds WHERE StreetAddress = @streetAddress AND ZipCode = @zipCode" />
    <add key="queryDeleteHouseHold" value="DELETE FROM dbo.HouseHolds WHERE HID = @hid" />
    <add key="querySelectZip" value="SELECT COUNT(*) FROM dbo.ZipLocations WHERE ZipCode = @zipCode" />
    <add key="querySelectHID" value="SELECT COUNT(*) FROM dbo.HouseHolds WHERE HID = @hid" />
    <add key="querySelectSysID" value="SELECT COUNT(*) FROM dbo.Users WHERE SysID = @sysID" />
    <add key="queryCreateHouseHoldListing" value="INSERT INTO dbo.HouseHoldListings (HID, Price) VALUES (@hId, @price)" />
    <add key="queryDeleteHouseHoldListing" value="DELETE FROM dbo.HouseHoldListings WHERE HID = @hid" />
    <add key="querySelectEmail" value="SELECT COUNT(*) FROM dbo.Users WHERE UserEmail = @email" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>