<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku =" .NETFramwork, Version = v4.7.2"/>
  </startup>
  <appSettings>
    <add key= "updateCmd" value ="UPDATE dbo.Users SET FirstName = @fName, LastName = @lName, DateOfBirth = @dob, Gender = @gender, AccountStatus = @status WHERE UserEmail = @email"/>
  </appSettings>
</configuration>
