<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku =" .NETFramwork, Version = v4.7.2"/>
  </startup>
  <appSettings>
    <add key= "updateCmd" value ="UPDATE dbo.Users SET FirstName = @fName, LastName = @lName, DateOfBirth = @dob, Gender = @gender, AccountStatus = @status WHERE UserEmail = @email"/>
    <add key ="querySelectMapping" value ="SELECT SysID FROM dbo.Mapping WHERE UserEmail = @email"/>
    <add key ="querySelectGeneralMessage" value ="SELECT * FROM dbo.GeneralMessages (SysID, MessageID, MessageBody) VALUES (@rcvid, @msgid, @msgbody)"/>
    <add key ="querySelectInbox" value="SELECT MessageID, SentDate, SenderID FROM dbo.InboxMessages WHERE SysID = @rcvid AND IsGeneral = @general"/>
    <add key ="querySelectSenderName" value="SELECT FirstName, LastName FROM dbo.Users WHERE SysID = @sendid"/>
  </appSettings>
</configuration>
